.signup {
  width: 90%;
  margin: 5rem 5rem;
  animation: meals-appear 1s ease-out forwards;
  text-align: center;
}
.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup form input {
  width: 100%;
}
